* {
  margin: 0;
  padding: 0;
}

.App{
  width: 100%;
 
}

.Main{
  width: 100%;
	padding: 0% 3%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.Container{
  width: 50%;
  height: 800px;
  margin-left: 40px;
  background-size: cover;
  background-image: url("https://voosh.in/static/media/landing_bg.da8497cd24d321282c0d.webp");
}

.title{
  margin-top: 150px;
  margin-left: 70px;
  font-size: 2.5vw;
  font-weight: 700;
}

.subtitle{
  margin-top: 20px;
  margin-left: 75px;
  font-size: 1vw;
  font-weight: 700;
}

.image_container{
  width: 50%;
}

#img1{
  width: 80%;
}

.booknow{
  margin: 90px;
  height: 800px;
  background-size: cover;
  background-image: url("https://voosh.in/static/media/book_now_bg.e9f9294653918137cd78.webp");
}

